.banner{
    width: 100%;
    background-color: #FDEFAB;
}
.wrap{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 340px;
    max-width: 1440px;
    margin: 0 auto;
    background: url('../../../Static/Img/banner.png') right top no-repeat;
}
.title{
    font-family: "Canela-light";
    font-size: 48px;
    line-height: 60px;
    color: #373873;
    margin-left: 80px;
}
.promo{
    font-family: "Avenir-medium(500)";
    font-size: 18px;
    line-height: 25px;
    color: #373873;
    margin: 8px 0 15px 80px;
}
.desc{
    display: flex;
    margin-left: 80px;
}
.icon__text{
    font-family: "Avenir-light(400)";
    font-size: 16px;
    line-height: 20px;
    color: #373873;
}
.icon__text_Weight800{
    font-family: "Avenir-heavy(900)";
}
.icon{
    margin: 0 5px;
    margin-top: -3px;
}
.baner__img{
    max-width: 928px;
    height: 340px;
    margin-left: -100px;
    z-index: 1;
}

@media (max-width: 992px){
    .banner{
        height: 500px;
    }
    .wrap{
        max-width: 750px;
        justify-content: center;
        background: url('../../../Static/Img/banner.png') right 80px top no-repeat;
        background-size: 80%;
    }
    .title{
        font-family: "Canela-light";
        font-size: 28px;
        line-height: 42px;
        color: #373873;
        text-align: center;
        margin-top: 300px;
        margin-left: 0px;
    }
    .promo{
        text-align: center;
        margin: 8px 0 15px 0px;
    }
    .desc{
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}
@media (max-width: 767px){
    .banner{
        height: 370px;
    }
    .wrap{
        flex-direction: column;
        max-width: 375px;
        background: url('../../../Static/Img/banner.png') right 0px top no-repeat;
        background-size: 100%;
    }
    .promo{
        font-size: 16px;
        line-height: 22px;
        margin: 10px 0 15px 0;
    }
    .desc{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 260px;
        margin: 0 auto;
    }
    .title{
        margin-top: 170px;
        margin-left: 0px;
    }
    .icon__text{
        font-family: "Avenir-light(400)";
        font-size: 16px;
        line-height: 25px;
        color: #373873;
    }
}