.sectionTwo{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: #ECEFFA;
}
.rowPromise__box_mobile{
    display: none;
}
.rowPromise{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 860px;
    height: 72px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
}
.title{
    font-family: "Avenir-medium(500)";
    font-size: 22px;
    line-height: 30px;
    color: #373873;
}
.section{
    display: flex;
    align-items: center;
}
.icon{
    width: 40px;
    height: 40px;
}
.text{
    font-family: "Avenir-light(300)";
    font-size: 14px;
    line-height: 19px;
    color: #373873;
    margin: 0 4px;
}